.pokemon-list {
    .undo-reorder {
        color: blue;
        vertical-align: -webkit-baseline-middle;
    }
    .delete-category {
        color: red;
        vertical-align: -webkit-baseline-middle;
    }
    .pokemon-thumbnail {
        display: block;
        width: 40px;
        height: 40px;
        background: #ccc;
        border-radius: 20px;
    }
    .pokemon-title {
        vertical-align: sub;
    }
    .input-group-text {
        border: none;
        background-color: #fff;
    }
    .display-flex {
        display: flex;
    }
}

.spinner {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}